@import "./colors.scss";
@import "./variables.scss";
@import "./includes/projects.scss";
@import "./includes/description.scss";
@import "./includes/footer.scss";
@import "./includes/buttons.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin-left: 18px;
}
