:root {
  --primary-color: #ba9501;
  --placeholder-color: #484848;
  --light-grey: #c3c2c2;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
  --light-background: #a7a3a333;
}

:root {
  --border-radius: 6px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin-left: 18px;
}

.button-primary {
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
  width: auto;
  height: 36px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: white;
  color: var(--primary-color);
}

button.clicked {
  transform: scale(1.2);
  background-color: var(--placeholder-color);
}

.description {
  margin: 26px;
  display: flex;
  flex-direction: column;
}
.description a {
  width: 160px;
  margin: 6px 8px;
  padding: 8px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.description a:hover {
  background-color: white;
  color: var(--primary-color);
}

.projects {
  padding: 4px 18px;
  height: 100%;
  background-color: var(--light-background);
  display: block;
}
@media (min-width: 650px) {
  .projects {
    display: flex;
    padding: 0 26px;
  }
}
.projects__side-bar {
  padding-left: 18px;
}
@media (min-width: 650px) {
  .projects__side-bar {
    width: 252px;
    border-right: 2px solid var(--light-grey);
    box-shadow: 3px 0px 6px -3px var(--light-grey);
  }
}
.projects__side-bar > div {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.projects__side-bar > div a {
  color: var(--text-dark-grey);
  text-decoration: none;
}
.projects__side-bar > div a:hover {
  color: var(--primary-color);
  font-weight: 600;
}
.projects__side-bar__item {
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
}
.projects__side-bar__item__button {
  height: 28px !important;
}
.projects__card {
  padding: 8px;
  margin: 18px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 650px) {
  .projects__card {
    width: 360px;
    padding: 16px;
  }
}
.projects__card h2 {
  text-align: center;
}
.projects__card__container {
  display: block;
  margin: auto;
}
@media (min-width: 650px) {
  .projects__card__container {
    display: flex;
  }
}
.projects__card__container__inputs {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 650px) {
  .projects__card__container__inputs {
    margin: 18px;
  }
}
.projects__card__container__input {
  height: 36px;
  padding: 6px 8px;
  border: 1px solid var(--text-light-grey);
  border-radius: 4px;
}
.projects__card__container__output {
  margin: auto;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  width: 100%;
  color: var(--text-dark-grey);
  margin: auto;
  padding: 12px 0;
  border-top: 1px solid var(--light-grey);
}
@media (min-width: 650px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
.footer__title {
  color: var(--text-dark-grey);
  font-weight: 600;
}
.footer__link {
  color: var(--text-dark-grey);
  text-decoration: none;
}
.footer__link:hover {
  color: var(--primary-color);
  font-weight: 600;
}