:root {
  --primary-color: #005878;
  --placeholder-color: #484848;
  --light-grey: #c3c2c2;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
  --light-background: #0058781c;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.projects {
  padding: 0 18px;
  display: flex;
  height: 100%;
  background-color: var(--light-background);
}
.projects__side-bar {
  width: 220px;
  border-right: 2px solid var(--light-grey);
  box-shadow: 3px 0px 6px -3px var(--light-grey);
}
.projects__side-bar div {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.projects__side-bar div a {
  color: var(--text-dark-grey);
  text-decoration: none;
}
.projects__side-bar div a:hover {
  color: var(--primary-color);
  font-weight: 600;
}
.projects__card {
  padding: 16px;
  margin: 20px;
  max-width: 480px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.projects__card h2 {
  text-align: center;
}
.projects__card__container {
  display: flex;
  margin: auto;
}
.projects__card__container__inputs {
  width: 200px;
  margin: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.projects__card__container__input {
  height: 36px;
  padding: 6px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.projects__card__container__output {
  margin: auto;
  text-align: center;
}

.button-primary {
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
  width: 92px;
  height: 36px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: white;
  color: var(--primary-color);
}

button.clicked {
  transform: scale(1.2);
  background-color: var(--placeholder-color);
}

.description {
  margin: 26px 0;
  display: flex;
  flex-direction: column;
}
.description a {
  width: 160px;
  margin: 6px 8px;
  padding: 8px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.description a:hover {
  background-color: white;
  color: var(--primary-color);
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  width: 100%;
  color: var(--text-dark-grey);
  padding: 12px 0;
  border-top: 1px solid var(--light-grey);
}
.footer__title {
  color: var(--text-dark-grey);
  font-weight: 600;
}
.footer__link {
  color: var(--text-dark-grey);
  text-decoration: none;
}
.footer__link:hover {
  color: var(--primary-color);
  font-weight: 600;
}